.tmp/
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db

bin/
obj/
dist/
dist-ssr/
node_modules/
artifacts/
temp-build/

*.user
*.suo
*.cache
*.tmp
*.temp
*.log
*.local

/package-lock.json
CarRental.WebApp/.env.local
CarRental.WebApp/node_modules/
CarRental.WebApp/dist/
